{%- from  'templates/title.njk' import Title -%}

{% macro Technology() %}
    <section class="technology">
        <div class="technology__container container">
            {{ Title(
                title = 'Technologies & Hardware',
                titleSecond = 'used by hydra VR.',
                svgIcon = false,
                className = 'technology__title'
            ) }}
            <div class="technology__picture">
                <img src="../../../img/technology.png" alt="picture">
            </div>
            <a href="#" class="technology__btn">
                <span class="technology__btn-icon">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5 25L30 37.5L42.5 25" stroke="#433D60" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </a>
        </div>
    </section>
{% endmacro %}
