{%- from  './components/hero/hero.njk' import Hero -%}
{%- from './components/contact/contact.njk' import Contact -%}
{%- from './components/introduction/introduction.njk' import Introduction -%}
{%- from './components/about/about.njk' import About -%}
{%- from './components/build/build.njk' import Build -%}

{% set pageConfig = {
    title: 'Landing OSI'
} %}

{% extends './base/base.njk' %}

{% block main %}
    {{ Hero() }}
    {{ Contact() }}
    {{ Introduction() }}
    {{ About() }}
    {{ Build() }}
{% endblock %}
