{% macro Brand() %}
    <section class="brand">
        <div class="container">
            <div class="brand__wrapper">
                <div class="brand__picture">
                    <img src="../../../img/brand-1.png" alt="Unreal engine">
                </div>
                <div class="brand__picture">
                    <img src="../../../img/brand-2.png" alt="unity">
                </div>
                <div class="brand__picture">
                    <img src="../../../img/brand-3.png" alt="oculus">
                </div>
                <div class="brand__picture">
                    <img src="../../../img/brand-4.png" alt="vive">
                </div>
            </div>
        </div>
    </section>
{% endmacro %}
