{% macro Card() %}
    <section class="card">
        <div class="container">
            <ul class="card__list">
                <li class="card__item">
                    <div class="card__wrapper">
                        <div class="card__picture">
                            <img src="../../../img/card-1.png" alt="card">
                        </div>
                        <h3 class="card__title item-title">Simulation</h3>
                        <p class="card__category">
                            Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
                            porttitor rhoncus libero justo laoreet sit amet vitae.
                        </p>
                        <a href="#" class="card__button btn">Try it now</a>
                    </div>
                </li>
                <li class="card__item">
                    <div class="card__wrapper">
                        <div class="card__picture">
                            <img src="../../../img/card-2.png" alt="card">
                        </div>
                        <h3 class="card__title item-title">Education</h3>
                        <p class="card__category">
                            Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
                            porttitor rhoncus libero justo laoreet sit amet vitae.
                        </p>
                        <a href="#" class="card__button btn">Try it now</a>
                    </div>
                </li>
                <li class="card__item">
                    <div class="card__wrapper">
                        <div class="card__picture">
                            <img src="../../../img/card-3.png" alt="card">
                        </div>
                        <h3 class="card__title item-title">Self-care</h3>
                        <p class="card__category">
                            Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
                            porttitor rhoncus libero justo laoreet sit amet vitae.
                        </p>
                        <a href="#" class="card__button btn">Try it now</a>
                    </div>
                </li>
                <li class="card__item">
                    <div class="card__wrapper">
                        <div class="card__picture">
                            <img src="../../../img/card-4.png" alt="card">
                        </div>
                        <h3 class="card__title item-title">Outdoor</h3>
                        <p class="card__category">
                            Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet
                            porttitor rhoncus libero justo laoreet sit amet vitae.
                        </p>
                        <a href="#" class="card__button btn">Try it now</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endmacro %}
