{% macro Header() %}
    <header class="header">
        <div class="container">
            <div class="header__item">
                <div class="header__logo">
                    <img src="../../../img/logo/header-logo.png" alt="logo">
                </div>
                <nav class="header__nav">
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">About</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Services</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Technologies</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">How to</a>
                    </li>
                </nav>
                <div class="header__buttons">
                    <a href="#" class="header__btn btn is-primary">Contact us</a>
                    <a href="#" class="header__btn btn">Join hydra</a>
                </div>
            </div>
        </div>
    </header>
{% endmacro %}
