{%- from  'templates/title.njk' import Title -%}

{% macro Introduction() %}
    <section class="introduction">
        <div class="container">
            {{ Title(
                title = 'Introduction',
                titleSecond = 'to hydra VR'
            ) }}
            <p class="introduction__category category">
                Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat
                nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo
                quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare
                lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
            </p>
        </div>
    </section>
{% endmacro %}
