{%- from  'templates/title.njk' import Title -%}

{% macro About() %}
    <section class="about">
        <div class="container">
            <div class="about__wrapper">
                <div class="about__picture">
                    <img src="../../../img/about.png" alt="picture">
                </div>
                <div class="about__content">
                    {{ Title(
                        title = 'About',
                        titleSecond = 'hydra VR',
                        svgIcon = false,
                        className = 'about__title'
                    ) }}
                    <p class="about__category category">
                        Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus
                        urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida
                        dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in.
                        Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet
                        sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam
                        etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet
                        cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
                        retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
                        n tempor.
                    </p>
                    <a href="#" class="btn is-large about__link">Let's get in touch</a>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}
