.title {
    $this: &;

    align-items: flex-end;
    display: flex;

    @include breakpoint(medium down) {
        position: relative;
    }

    &.is-center {
        justify-content: center;
        text-align: center;

        #{$this}__text-second {
            margin-top: 30px;
            padding-top: 30px;
            position: relative;
            text-transform: capitalize;

            &::before {
                @include absolute(0, null, null, 50%);
                @include size(415px, 1px);
                background: {
                    image: url("../../img/title-under-decor.svg");
                    repeat: no-repeat;
                };
                content: '';
                transform: translateX(-50%);
            }
        }
    }

    &__text {
        @include font(var(--typo-1), 36px, var(--fw-bold));
        color: $color-white;
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        text-transform: uppercase;

        @include breakpoint(medium down) {
            font-size: 30px;
            min-width: 220px;
        }

        @include breakpoint(small down) {
            font-size: 26px;
        }
    }

    &__text-second {
        font-weight: var(--fw-light);
    }

    &__icon {
        transform: translate(-20px, 35px);

        svg {
            @include breakpoint(medium down) {
                width: 150px;
            }
        }
    }
}
